.setting-label {
  font-size: 1.1em;
  padding: 8px;
}

.button {
  margin-right: 8px;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  padding: 8px;
}
