
.container {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-accent);
  min-width: 200px;
  border-radius: 4px;
  outline: unset;
  border: unset;
  color: var(--color-grey-light);
  cursor: pointer;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.15s ease-in, top 0.15s ease-out;
}

.container-visible {
  top: 16px;
  opacity: 1;
}

.label {
  padding: 8px;
  font-size: 20px;
  text-align: center;
}
