<div class="row top-row">
  <!-- TODO: create topbar component -->
  <div class="row">
    <toggle-button
      id="midiButton"
      class="ctrl-button"
      click="handleMidiClick"
      onlabel="MIDI"
      offlabel="MIDI">
    </toggle-button>
    <toggle-button
      id="sampleButton"
      class="ctrl-button"
      click="handleSampleClick"
      onlabel="Samples"
      offlabel="Samples">
    </toggle-button>
    <toggle-button
      id="settingsButton"
      class="ctrl-button"
      click="handleSettingsClick"
      onlabel="Settings"
      offlabel="Settings">
    </toggle-button>
  </div>
  <metronome-ctrl></metronome-ctrl>
  <ps-toggle-button id="toggleButton" class="toggle-button"></ps-toggle-button>
</div>
<editor-window class="editor-window"></editor-window>
