<div class="row top-row">
  <div class="row">
    <toggle-button
      id="settingsButton"
      class="ctrl-button"
      click="handleSettingsClick"
      onlabel="Settings"
      offlabel="Settings">
    </toggle-button>
  </div>
  <metronome-ctrl></metronome-ctrl>
</div>
<div class="editor-window-container">
  <editor-window class="editor-window"></editor-window>
  <div class="settings-scrim" id="scrim"></div>
</div>
<settings-editor class="settings" id="settingsEditor"></settings-editor>
<toast-notification></toast-notification>
