
.alias-container {
  border: 1px solid var(--color-grey-light);
  border-radius: 4px;
  margin: 4px 0;
}

.title-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
  border-bottom: 1px solid var(--color-grey-light);
}

.alias-label {
  /* color: var(--color-black-light); */
}

.remove-alias {
  justify-self: flex-end;
  color: var(--color-black-light);
}

.settings-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 8px 0;
}

.setting-label {}