:host {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}

.deletable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.deletable-suppressed {
  display: none;
}

.dots {
  flex: 1;
  border-bottom: 1px dotted #CCCCCC66;
  border-width: 2px;
  margin: 0 8px;
}

.sample-name {
  width: 120px;
  margin-left: 8px;
}

.delete-button {
  align-self: flex-end;
}

