<div class="tab-row">
  <div id="tabContainer" class="tab-container">
  </div>
  <div class="button-row">
    <button id="addAudioTab" class="add-cycle" title="Add audio tab">
      <span class="add-cycle-bar add-cycle-bar-1"></span>
      <span class="add-cycle-bar add-cycle-bar-2"></span>
    </button>
    <button id="addGraphicsTab" class="add-cycle" title="Add graphics tab">
      <span class="add-cycle-bar add-cycle-bar-1"></span>
      <span class="add-cycle-bar add-cycle-bar-2"></span>
    </button>
  </div>  
</div>
<div id="contentContainer" class="content-container"></div>
