<div class="top-row">
  <p class="top-label"></p>
  <text-button
    class="close-button"
    click="handleClose"
    label="X">
  </text-button>
</div>

<div class="content">
  <scene-editor id="sceneEditor"></scene-editor>
  <div class="divider"></div>
  <appearance-editor></appearance-editor>
  <div class="divider"></div>
  <graphics-window-editor></graphics-window-editor>
  <div class="divider"></div>
  <sample-editor></sample-editor>
  <div class="divider"></div>
  <default-samples></default-samples>
  <div class="divider"></div>
</div>

<p class="version">
  <span>Version</span>
  <span id="version"></span>
</p>
