<div class="top-row">
  <p class="top-label"></p>
  <text-button
    class="close-button"
    click="handleClose"
    label="X">
  </text-button>
</div>

<div class="content">
  <expandable-section label="Scene">
    <scene-editor id="sceneEditor"></scene-editor>
  </expandable-section>
  <expandable-section label="Appearance">
    <appearance-editor></appearance-editor>
  </expandable-section>
  <expandable-section label="Graphics">
    <graphics-window-editor></graphics-window-editor>
  </expandable-section>
  <expandable-section label="Samples">
    <sample-editor></sample-editor>
  </expandable-section>
  <expandable-section label="Default Samples">
    <default-samples></default-samples>
  </expandable-section>
  <expandable-section label="MIDI">
    <midi-editor></midi-editor>
  </expandable-section>
</div>

<p class="version">
  <span>Version</span>
  <span id="version"></span>
</p>
