.settings-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}

.settings-label {
  font-size: 1.1em;
}

.setting-value {
  margin-left: 8px;
}
