:host {
  --ctrl-size: 20px;
  --half-ctrl: 10px;
}

.graphics-settings {
  display: none;
}

.graphics-settings-active {
  display: block;
}

.container {
  border: 1px solid var(--color-grey-darker);
  width: 90%;
  height: 200px;
  position: relative;
  margin: 0 auto 16px auto;
}

.resizable-rect {
  border: 1px solid blue;
  background-color: var(--color-grey);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  cursor: grab;
}
.resizable-rect:active:hover {
  cursor: grabbing;
}

.resizable-ctrl {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--color-grey-light);
  transition: background-color 0.2s ease;
}
.resizable-ctrl:hover {
  background-color: var(--color-error);
}

.resizable-ctrl-ne {
  right: 0;
  top: 0;
  cursor: ne-resize;
}

.settings-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}

/* .settings-divider {
  border-bottom: 1px solid var(--color-grey-light);
} */

.setting-label {
  font-size: 1.1em;
}

.setting-value {
  margin: 0 0 0 8px;
}
